.pace.pace-inactive {
    display: none;
  }
  
  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  
    z-index: 2000;
    position: fixed;
    height: 60px;
    width: 100px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .pace .pace-progress {
    z-index: 2000;
    position: absolute;
    height: 60px;
    width: 100px !important;
  }
  
  .pace .pace-progress:before {
    content: attr(data-progress-text);
    text-align: center;
    color: #fff;
    background: #b82e2e;
    border-radius: 50%;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 1;
    padding: 20% 0 7px;
    width: 50%;
    height: 40%;
    margin: 10px 0 0 30px;
    display: block;
    z-index: 999;
    position: absolute;
  }
  
  .pace .pace-progress:after {
    border-radius: 50%;
    border: 5px solid #b82e2e;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100px;
  
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation: spin-3 2s linear infinite;
       -moz-animation: spin-3 2s linear infinite;
         -o-animation: spin-3 2s linear infinite;
            animation: spin-3 2s linear infinite;
  }
  
  .pace .pace-activity {
    font-size: 15px;
    line-height: 1;
    z-index: 2000;
    position: absolute;
    height: 60px;
    width: 100px;
  
    display: block;
  }
  
  .pace .pace-activity:before {
    border-radius: 50%;
    border: 5px solid #b82e2e;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100px;
  
    -webkit-animation: spin-1 2s linear infinite;
       -moz-animation: spin-1 2s linear infinite;
         -o-animation: spin-1 2s linear infinite;
            animation: spin-1 2s linear infinite;
  }
  
  .pace .pace-activity:after{
    border-radius: 50%;
    border: 5px solid #b82e2e;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100px;
  
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-animation: spin-2 2s linear infinite;
       -moz-animation: spin-2 2s linear infinite;
         -o-animation: spin-2 2s linear infinite;
            animation: spin-2 2s linear infinite;
  }
  
  @-webkit-keyframes spin-1 {
    0%  { -webkit-transform: rotate(0deg); }
    100%{ -webkit-transform: rotate(359deg);}
  }
  @-moz-keyframes spin-1 {
    0%  { -moz-transform: rotate(0deg); }
    100%{ -moz-transform: rotate(359deg);}
  }
  @-o-keyframes spin-1 {
    0%  { -o-transform: rotate(0deg); }
    100%{ -o-transform: rotate(359deg);}
  }
  @keyframes spin-1 {
    0%  { transform: rotate(0deg); }
    100%{ transform: rotate(359deg);}
  }
  
  @-webkit-keyframes spin-2 {
    0%  { -webkit-transform: rotate(59.8deg); }
    100%{ -webkit-transform: rotate(418.8deg);}
  }
  @-moz-keyframes spin-2 {
    0%  { -moz-transform: rotate(59.8deg); }
    100%{ -moz-transform: rotate(418.8deg);}
  }
  @-o-keyframes spin-2 {
    0%  { -o-transform: rotate(59.8deg); }
    100%{ -o-transform: rotate(418.8deg);}
  }
  @keyframes spin-2 {
    0%  { transform: rotate(59.8deg); }
    100%{ transform: rotate(418.8deg);}
  }
  
  @-webkit-keyframes spin-3 {
    0%  { -webkit-transform: rotate(119.6deg); }
    100%{ -webkit-transform: rotate(478.6deg);}
  }
  @-moz-keyframes spin-3 {
    0%  { -moz-transform: rotate(119.6deg); }
    100%{ -moz-transform: rotate(478.6deg);}
  }
  @-o-keyframes spin-3 {
    0%  { -o-transform: rotate(119.6deg); }
    100%{ -o-transform: rotate(478.6deg);}
  }
  @keyframes spin-3 {
    0%  { transform: rotate(119.6deg); }
    100%{ transform: rotate(478.6deg);}
  }
body, html {
    margin: 0;
    background: whitesmoke;
}
a {
    text-decoration: none;
}
nav {
    width: 100vw;
    height: 60px;
    background: hsl(0, 60%,40%);
    position: fixed;
    box-shadow: 1px 1px 10px hsl(0, 60%, 30%);
    z-index: 100;
}
.menu-button {
    width: 50px;
    height: 50px;
    margin: 5px 5px; 
    background: hsl(0, 60%, 35%);
    border-radius: 10%;
    position: relative;
    cursor: pointer;
}
.burger-element {
    height: 4px;
    width: 30px;
    border-radius: 15%;
    background: white;
    position: absolute;
    left: 10px;
}
.burger-element.el1 {
    top: 14px;
}
.burger-element.el1-open {
    top: 23px;
    transform: rotate(45deg);
}
.burger-element.el2 {
    top: 23px;
}
.burger-element.el2-open {
    display: none;
}
.burger-element.el3 {
    top: 32px;
}
.burger-element.el3-open {
    top: 23px;
    transform: rotate(-45deg);
}
.nav-label {
    display: inline-block;
    color: white;
    position: absolute;
    left: 70px;
    top: 18px;
    font-family: SFUIRegular, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.nav-element {
    color: white;
    margin: 20px 30px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: SFUIRegular, sans-serif;
}
.nav-element:hover {
    color: hsl(0, 50%, 70%);
}
.nav-menu {
    position: fixed;
    top: 60px;
    left: 0px;
    width: 250px;
    height: calc(100vh - 60px);
    background: hsla(0, 60%, 42%, 0.98);
    transition: .5s;
    z-index: 1000;
}
/* @keyframes change-pictures {
    0% {
        background-image: url('s1_bg1.jpg');
    }
    20% {
        background-image: url('s1_bg1.jpg');
    }
    25% {
        background-image: url('s1_bg2.jpg');
    }
    45% {
        background-image: url('s1_bg2.jpg');
    }
    50% {
        background-image: url('s1_bg3.jpg');
    }
    70% {
        background-image: url('s1_bg3.jpg');
    }
    75% {
        background-image: url('s1_bg4.jpg');
    }
    95% {
        background-image: url('s1_bg4.jpg');
    }
    100% {
        background-image: url('s1_bg1.jpg');
    }
} */
.pictures {
    width: 100vw;
    height: 100vh;
    background: gray 50%/cover no-repeat;
    background-image: url('s1_bg1.jpg');
}
.main-header {
    color: white;
    text-align: center;
    width: 100vw;
}
main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-paragraph {
    color: white;
    width: 100vw;
    text-align: center;
    font-size: 1.3rem;
}
.menu_is-open {
    left: -250px;
}
.main-info {
    padding: 10px 20px;
}
.main-info > h2 {
    text-align: center;
}
.some-important-info > h1 {
    text-align: center;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    margin-top: 30px;
    padding: 10px;
    border: 5px dashed hsl(0, 60%, 45%);
}
.some-important-info {
    top: 20px;
    position: relative;
}
.gallery > h1 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 2rem;
}
.gallery {
    text-align: center;
    position: relative;
}
.photo {
    width: 40vw;
    height: 40vw;
    border: 2px solid hsl(0, 60%, 35%);
    background: gray 50%/cover no-repeat;
    margin: 4px 2px;
    display: inline-block;

}
.photo.p1 {
    background-image: url('s3_p1.jpg');
}
.photo.p2 {
    background-image: url('s3_p2.jpg');
}
.photo.p3 {
    background-image: url('s3_p3.jpg');
}
.photo.p4 {
    background-image: url('s3_p4.jpg');
}
.photo.p5 {
    background-image: url('s3_p5.jpg');
}
.photo.p6 {
    background-image: url('s3_p6.jpg');
}
.photo.p7 {
    background-image: url('s3_p7.jpg');
}
.photo.p8 {
    background-image: url('s3_p8.jpg');
}