body, html {
    margin: 0;
    background: whitesmoke;
}
a {
    text-decoration: none;
}
nav {
    width: 100vw;
    height: 60px;
    background: hsl(0, 60%, 45%);
    position: fixed;
    box-shadow: 1px 1px 10px hsl(0, 60%, 35%);
    z-index: 100;
}
.menu-button {
    width: 50px;
    height: 50px;
    margin: 5px 5px; 
    background: hsl(0, 60%, 40%);
    border-radius: 10%;
    position: relative;
    cursor: pointer;
}
.burger-element {
    height: 4px;
    width: 30px;
    border-radius: 15%;
    background: white;
    position: absolute;
    left: 10px;
}
.burger-element.el1 {
    top: 14px;
}
.burger-element.el1-open {
    top: 23px;
    transform: rotate(45deg);
}
.burger-element.el2 {
    top: 23px;
}
.burger-element.el2-open {
    display: none;
}
.burger-element.el3 {
    top: 32px;
}
.burger-element.el3-open {
    top: 23px;
    transform: rotate(-45deg);
}
.nav-label {
    display: inline-block;
    color: white;
    position: absolute;
    left: 70px;
    top: 18px;
    font-family: SFUIRegular, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.nav-element {
    color: white;
    margin: 20px 30px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: SFUIRegular, sans-serif;
}
.nav-menu {
    position: fixed;
    top: 60px;
    left: 0px;
    width: 250px;
    height: calc(100vh - 60px);
    background: hsla(0, 60%, 45%, 0.98);
    transition: .5s;
    z-index: 1000;
}
.pictures {
    width: 100vw;
    height: 100vh;
    background: gray 50%/cover no-repeat;
    background-image: url('https://teamzenith.files.wordpress.com/2012/08/dsc_3023.jpg');
}
.main-header {
    color: white;
    position: absolute;
    text-align: center;
    width: 100vw;
    top: 25vh;
}
main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-paragraph {
    color: white;
    position: absolute;
    top: 36vh;
    width: 100vw;
    text-align: center;
    font-size: 1.3rem;
}
.menu_is-open {
    left: -250px;
}